@page
@model ConfirmPhoneSuccessModel
@{
    ViewData["Title"] = "Phone number confirmed";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        Thank you for confirming your phone number.
    </p>
    <a asp-page="/Index">Back to home</a>
</div>
